extends ./shared/_layout

block content
    if (!user)
        a(href="/login") Login
    if (user)
        p You are currently logged in as #{user}
    p this is the Dashboard.jade
    a(href="/summa") | Summa
    div(ng-view)