/* public/css/style.css */

body {
    font-family: 'Roboto', sans-serif;
}

.code19-logo {
    position: relative;
    top: -10%;
    opacity: 0.5;
}

.navbar-inverse,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #F9F9F9;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #9d9d9d;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #E1E1E1;
    border-top: 2px solid;
}

.navbar-inverse .navbar-brand {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
    color: #607D8B;
    background-color: transparent;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #546E7A;
}

.sidebar {
    background-color: #4A148C;
}

.white_a {
    color: #ffffff;
}

.nav-sidebar>li>a {
    font-size: 12px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: normal !important;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.nav>li>a:focus,
.nav>li>a:hover {
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    transition: all 0.3s ease !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    background-color: #673AB7 !important;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: unset !important;
}

.no_padding {
    padding: 0px 0px 0px 0px !important;
}

.thead-default {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
    background: rgba(225, 225, 225, 0.3) !important;
}

.non_a {
    text-decoration: none !important;
}

.white_a.non_a:hover {
    text-decoration: none !important;
    color: white !important;
}

.text-align--right {
    text-align: right !important;
}

.padding-top--10px {
    padding-top: 10px !important;
}

.padding-top--20px {
    padding-top: 20px !important;
}

.padding-top--30px {
    padding-top: 30px !important;
}

.padding-bottom--10px {
    padding-bottom: 10px !important;
}

.padding-bottom--30px {
    padding-bottom: 30px !important;
}

.padding-right--50px {
    padding-right: 50px !important;
}

.margin-top--10px {
    margin-top: 10px !important;
}

.margin-bottom--30px {
    margin-bottom: 30px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.padding--20px {
    padding: 20px !important;
}

.border--none {
    border: none !important;
}

.light {
    font-weight: normal !important;
}

.size-12 {
    font-size: 12px !important;
}

.width--100 {
    width: 100% !important;
}

.background--red {
    background-color: red !important;
}

.background--green {
    background-color: green !important;
}

.margin--auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.form-template {
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    box-shadow: 1px 5px 10px 1px #e1e1e1;
    /*#333*/
    /*border-bottom: 6px solid #357ebd;*/
}

.size-10px {
    font-size: 10px !important;
}

hr {
    border-top: 2px solid #e1e1e1 !important;
}

.col-centered {
    float: none !important;
    margin: auto !important;
}

.btn-blue {
    background-color: #1161ee !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
    border: none !important;
    transition: background-color 0.3s ease;
}

.btn-blue:active,
.btn-blue:hover,
.btn-blue:focus {
    color: white !important;
    background-color: #43A047 !important;
    border: none !important;
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
}

form {
    padding: 5px !important;
}

input.form-control {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: lighter !important;
}

span.montserrat {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
}

.padding--10px {
    padding: 10px !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.border-top--2px {
    border-top: 2px solid #e1e1e1 !important;
}

.float-right {
    float: right !important;
}

.text-align--left {
    text-align: left !important;
}


/*=========================================================================*/


/* Multi-Step Registration Form */


/*.card {
    position: relative;
    margin-bottom: 24px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}*/


/*.step-progress {
    padding: 16px;
    background-color: #FAFAFA;
    margin: 0 auto;
}*/

.step-progress .step-slider {
    width: 100%;
}

.step-progress .step-slider .step-slider-item._25 {
    width: 25%;
    height: 2px;
    position: relative;
    float: left;
    background-color: #9e9e9e;
}

.step-progress .step-slider .step-slider-item._50 {
    width: 50%;
    height: 2px;
    position: relative;
    float: left;
    background-color: #9e9e9e;
}

.step-progress .step-slider .step-slider-item._30 {
    width: 33.33%;
    height: 2px;
    position: relative;
    float: left;
    background-color: #9e9e9e;
}

.step-progress .step-slider .step-slider-item:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    /*top: -6px;*/
    top: -4px;
    right: 0;
    background-color: #FAFAFA;
    border: 2px solid #9e9e9e;
    /*#E0E0E0;*/
    border-radius: 50%;
    z-index: 2;
    transition: all 0.3s ease-out 0.5s;
    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
}

.step-progress .step-slider .step-slider-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    /*height: 1px;*/
    height: 3px;
    background-color: #B0BEC5;
    z-index: 1;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.step-progress .step-slider .step-slider-item.active:before {
    width: 100%;
    /*background-color: #FF8F00;*/
    background-color: #4CAF50;
}

.step-progress .step-slider .step-slider-item.active:after {
    /*border-color: #FF8F00;*/
    border-color: #4CAF50;
    background-color: #4CAF50;
}

.step-content {
    padding: 16px 0;
}

.step-content .step-content-foot {
    text-align: right;
}


/*.step-content .step-content-foot button {
    border: 0;
    padding: 8px 16px;
    background-color: #CFD8DC;
    font-size: 14px;
    border-radius: 3px;
    outline: 0;
}*/


/*.step-content .step-content-foot label {
    border: 0;
    padding: 8px 16px;
    background-color: #CFD8DC;
    font-size: 14px;
    border-radius: 3px;
    outline: 0;
}*/


/*.step-content .step-content-foot button:active {
    background-color: rgba(255, 255, 255, 0.2);
}*/

.step-content .step-content-foot button.out {
    display: none;
}

.step-content .step-content-foot label.out {
    display: none;
}

.step-content .step-content-foot button.disable {
    background-color: #ECEFF1;
}


/*.step-content .step-content-foot button.active {
    background-color: #00ACC1;
    color: white;
}*/


/*.step-content .step-content-foot label.active {
    background-color: #00ACC1;
    color: white;
}*/

.step-content .step-content-body {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
}

.step-content .step-content-body.out {
    display: none;
}

.float--left {
    float: left;
}


/*===========================================================*/

.ng-invalid {
    border-color: red !important;
}

.margin-right-left--5px {
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.label-title {
    font-size: 16px !important;
    /*12px*/
    padding-left: 0px !important;
    text-align: left !important;
    font-weight: normal !important;
}

.padding-left--15px {
    padding-left: 15px !important;
}

.padding-top--15px {
    padding-top: 15px !important;
}

.form-box--shadow {
    box-shadow: 0px 0px 12px #e1e1e1;
}

.form-background {
    background: rgba(225, 225, 225, 0.2) !important;
}

.border-bottom--2px {
    border-bottom: 2px solid #e1e1e1;
}

.text-align--center {
    text-align: center !important;
}

span.padding--2px {
    padding-top: 5px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
}

.partial-close {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.card {
    /*box-shadow: 0 0px 13px rgba(0, 0, 0, 0.19), 0 1px 6px rgba(0, 0, 0, 0.23);*/
}

.card-top {
    /*background: #F44336;
    color: white;*/
    /*padding: 20px !important;*/
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    /*display: flex;
    flex-direction: column;*/
    border-bottom: 1px solid #9e9e9e;
}

.card>.row>div {
    display: flex;
    flex-direction: column;
}

.card-top>i {
    font-size: 500%;
    padding: 20px;
    /*text-align: center;*/
}

.card-bottom {
    padding-bottom: 30px !important;
    padding-top: 20px !important;
}

.card-bottom>div>span {
    text-align: left;
    /*center;*/
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

i.material-icons {
    vertical-align: middle !important;
}

.btn-green {
    background: #4caf50 !important;
    color: white !important;
    border: #4caf50 !important;
}

.gradient-border {
    padding: 4px !important;
}

.gradient-border~div {
    box-shadow: none !important;
}

input[type="radio"] {
    vertical-align: middle !important;
}

span.roboto {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

div[name="addPatientForm"] {
    /*color: white !important;*/
    /*background: linear-gradient(to right, rgb(253, 116, 108), rgb(255, 144, 104));*/
    /*background: linear-gradient(to right, rgb(235, 51, 73), rgb(244, 92, 67));*/
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.pointer {
    cursor: pointer;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.pointer:hover {
    background-color: #e1e1e1;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}


/*.ng-invalid--background {
    transition: 0.5s ease;
    background: linear-gradient(to right, rgb(229, 57, 53), rgb(227, 93, 91)) !important;
    linear-gradient(to right, rgb(228, 58, 21), rgb(230, 82, 69))
}

.ng-valid--background {
    transition: 0.5s ease;
    background: linear-gradient(to right, rgb(253, 116, 108), rgb(255, 144, 104)) !important;
}*/

.divider {
    background: white !important;
    margin-bottom: 20px !important;
}