/* public/css/style.css */

body {
    font-family: 'Roboto', sans-serif !important;
}

.code19-logo {
    position: relative;
    top: -10%;
    opacity: 0.5;
}

.navbar-inverse,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #F9F9F9 !important;
}

.navbar-inverse .navbar-toggle {
    border: none !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #9d9d9d !important;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #E1E1E1 !important;
    border-top: 2px solid;
}

.navbar-inverse .navbar-brand {
    transition: 0.2s;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
    color: #607D8B !important;
    background-color: transparent;
    transition: 0.2s;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #546E7A !important;
}

.sidebar {
    background-color: #4A148C !important;
}

.white_a {
    color: #ffffff !important;
}

.nav-sidebar>li>a {
    transition: 0.5s;
}

.nav>li>a:focus,
.nav>li>a:hover {
    color: #546E7A !important;
    transition: 0.2s;
}