/* public/css/style.css */

body {
    font-family: 'Roboto', sans-serif;
}

.code19-logo {
    position: relative;
    top: -10%;
    opacity: 0.5;
}

.navbar-inverse,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #F9F9F9;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #9d9d9d;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #E1E1E1;
    border-top: 2px solid;
}

.navbar-inverse .navbar-brand {
    transition: 0.2s;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
    color: #607D8B;
    background-color: transparent;
    transition: 0.2s;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #546E7A;
}

.sidebar {
    background-color: #4A148C;
}

.white_a {
    color: #ffffff;
}

.nav-sidebar>li>a {
    transition: 0.5s;
}

.nav>li>a:focus,
.nav>li>a:hover {
    color: #546E7A;
    transition: 0.2s;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: unset !important;
}

.no_padding {
    padding: 0px 0px 0px 0px !important;
}

.thead-default {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
    background: rgba(225, 225, 225, 0.3) !important;
}

.non_a {
    text-decoration: none !important;
}

.white_a.non_a:hover {
    text-decoration: none !important;
    color: white !important;
}

.text-align--right {
    text-align: right !important;
}

.padding--top--10px {
    padding-top: 10px !important;
}

.padding--bottom--10px {
    padding-bottom: 10px !important;
}

.padding--right--50px {
    padding-right: 50px !important;
}

.no-padding--left {
    padding-left: 0px !important;
}

.montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.border--none {
    border: none !important;
}

.light {
    font-weight: normal !important;
}

.size-12 {
    font-size: 12px !important;
}

.width--100 {
    width: 100% !important;
}

.background--red {
    background-color: red !important;
}

.background--green {
    background-color: green !important;
}