.col-md-12.col-sm-12.col-xs-12.dashboard-group
    span.dashboard-title Dashboard | Wards | Ward Beds

.col-md-12.col-sm-12.col-xs-12.margin-bottom--10px
    span.col-md-2.col-sm-4.col-xs-12.top-selection
        button.btn.btn-default.btn-circle.btn-green(ng-click="partialForm='addWardForm'", name="addWardForm")
            i.fa.fa-plus
        span.top-selection--inner Ward
    span.col-md-2.col-sm-4.col-xs-12.top-selection
        button.btn.btn-default.btn-circle.btn-green(ng-click="partialForm='addWardBedForm'", name="addWardBedForm")
            i.fa.fa-plus
        span.top-selection--inner  Bed
    span.col-md-2.col-sm-4.col-xs-12.no_padding.margin-bottom--10px
        div.btn-group(style="width: 100%;")
            button.btn.btn-default.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;")
                | Ward &nbsp;&nbsp;
                span.caret
            ul.dropdown-menu
                li(ng-repeat="w in wards")
                    span.col-md-12.col-sm-12.col-xs-12.pointer(ng-click="getWardBeds(w.wardNumber)") {{w.name}}

include ward.add.jade
include ward.bed.add.jade

.col-md-12.col-sm-12.col-xs-12.padding--top--10px(ng-if="wardWithBeds != 'null'")
    .col-md-12.col-sm-12.col-xs-12.ward-title.no_padding {{wardWithBeds.wardNumber}} | {{wardWithBeds.name}}
    .col-md-6.col-sm-12.col-xs-12.no_padding.ward-bed-group
        .col-md-4.col-sm-6.col-xs-6.no_padding.ward-bed(ng-repeat="wardBed in wardWithBeds.beds")
            span(ng-if="wardBed.patient.ID != 'null'")
                i.fa.fa-heartbeat.bed.color--red
                span.bed-info {{wardBed.bedNumber}} ~ {{wardBed.patient.ID}}
            span(ng-if="wardBed.patient.ID == 'null'")
                i.fa.fa-heart.bed.color--green
                span.bed-info {{wardBed.bedNumber}}