.col-md-12.col-sm-12.col-xs-12.dashboard-group
    span.dashboard-title Dashboard | Wards | Ward Beds

.col-md-12.col-sm-12.col-xs-12.margin-bottom--10px
    span.col-md-2.col-sm-4.col-xs-12.top-selection
        button.btn.btn-default.btn-circle.btn-green(ng-click="addWardBed()", name="addWardBedForm")
            i.fa.fa-plus
        span.top-selection--inner  Bed
    span.col-md-2.col-sm-4.col-xs-12.top-selection
        button.btn.btn-default.btn-circle.btn-green(ng-click="addWard()", name="addWardForm")
            i.fa.fa-plus
        span.top-selection--inner Ward

.col-md-12.col-sm-12.col-xs-12.padding--top--10px(ng-if="wardBeds.length>0")
    .col-md-12.col-sm-12.col-xs-12.ward-title 
    .col-md-6.col-sm-12.col-xs-12.no_padding.ward-bed-group
        .col-md-4.col-sm-6.col-xs-6.no_padding.ward-bed(ng-repeat="wardBed in wardBeds")
            span(ng-if="wardBed.patient.ID != 'null'")
                i.fa.fa-heartbeat.bed.color--red(aria-hidden="true")
                span.bed-info {{wardBed.bedNumber}} ~ {{wardBed.patient.ID}}
            span(ng-if="wardBed.patient.ID == 'null'")
                i.fa.fa-heart.bed.color--green(aria-hidden="true")
                span.bed-info {{wardBed.bedNumber}}