.col-md-12.padding--bottom--10px
    button.btn.btn-success(ng-click="partialForm='addDrugForm'") 
        | Add Drug

.col-md-12.padding--top--10px
    form(role="form", ng-submit="addDrug(cdrug)", ng-show="partialForm=='addDrugForm'")
        .form-group
            input.form-control(type="text", placeholder="Enter Serial #", ng-model="cdrug.serial")
        .form-group
            input.form-control(type="text", placeholder="Enter Name", ng-model="cdrug.name")
        .form-group
            input.form-control(type="text", placeholder="Enter Manufacture Date", ng-model="cdrug.mfd")
        .form-group
            input.form-control(type="text", placeholder="Enter Expiry Date", ng-model="cdrug.exp")
        button.btn.btn-default(type="submit") Add
        a.btn(ng-click="partialForm='null'") Cancel

.col-md-12.padding--top--10px.padding--bottom--10px                
    .table-responsive(ng-if="rdrugs.length > 0")
        table.table
            thead.thead-default
                tr
                    td #
                    td Serial
                    td Name
                    td MFD
                    td EXP
                    td
            tbody(ng-repeat="drug in rdrugs")
                tr
                    td {{$index + 1}}
                    td {{drug.serial}}
                    td {{drug.name}}
                    td {{drug.mfd}}
                    td {{drug.exp}}                                        
                    td.no_padding
                        a.btn.btn-link(href="#", ng-click="getdrug(drug.serial)")
                            i.fa.fa-plus
                tr(ng-show="drug.serial===ddrug.serial")
                    td(colspan="6") 
                        .col-md-12.padding--right--50px.text-align--right
                            a.btn.btn-link(href="#", ng-click="ddrug.serial='null'")
                                i.fa.fa-minus
                        h1 Drug Details