doctype html
html
    head    
        base(href='/')
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="")
        meta(name="author", content="")
        
        title Inward - Dashboard
        
        link(rel='stylesheet', href="bower/bootstrap/dist/css/bootstrap.min.css")
        link(rel='stylesheet', href="bower/font-awesome/css/font-awesome.min.css")
        link(rel='stylesheet', href="node/angular-bootstrap-datetimepicker/src/css/datetimepicker.css")
        link(rel='stylesheet', href="../css/bootstrap.dashboard.css")        
        link(rel='stylesheet', href="../css/style.css")
        link(rel='stylesheet', href="../css/loading-bar.css", media="all")
        link(rel='stylesheet', href="bower/v-accordion/dist/v-accordion.css")
        link(rel='stylesheet', href="bower/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css")

        script(src="bower/angular/angular.min.js")
        script(src="bower/angular-route/angular-route.min.js")
        script(src="bower/angular-animate/angular-animate.js")
        script(src="bower/AngularSlideables/angularSlideables.js")
        
        link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")      
        
    body(ng-app="inwardApp", ng-controller="AppController")
        nav.navbar.navbar-inverse.navbar-fixed-top
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#sidebar")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    
                    a.navbar-brand(href="/")
                        span.montserrat(style="font-weight: 700 !important;") code19 
                        span.montserrat(style="font-weight: lighter !important;color: #F44336 !important;") | Inward
                    
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar", style="float: left;")
                        i.fa.fa-angle-down(aria-hidden="true")
                
                div#navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            if(user)
                                - var username = JSON.stringify(user.local.email)
                                a(href="#", ng-init="$root.loggedinUser = #{username}")
                                    i.fa.fa-user-circle-o
                                    span.montserrat.size-10px   {{$root.loggedinUser | uppercase}}
                
        div.container-fluid
            div.row
                div#sidebar.col-md-2.col-sm-3.col-xs-12.sidebar
                    ul.nav.nav-sidebar
                        li(style="text-align: center; padding-bottom: 30px; padding-top: 30px;border-bottom: 2px solid #673AB7;")
                            i.fa.fa-stethoscope(style="font-size: 30px;color: white;padding-bottom: 10px;")
                            span.col-md-12.col-sm-12.col-xs-12(style="font-family: Roboto; font-size: 10px;color: white;") {{$root.loggedinUser | uppercase }}
                        li
                            a.white_a(href="/")
                                i.material-icons apps
                                | Dashboard
                        li
                            a.white_a(href="/patient") Patient
                        li
                            a.white_a(href="/doctor") Doctor
                        li
                            a.white_a(href="/drug") Drug
                        li
                            a.white_a(href="/test") Test
                        li
                            a.white_a(href="/report") Report
                        li
                            a.white_a(href="/ward") Ward  
                div.col-md-10.col-md-offset-2.col-sm-9.col-sm-offset-3.col-xs-12.main
                    div(ng-view)
        
        script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='https://cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js')
        script(src="bower/jquery/dist/jquery.min.js")
        script(src="bower/bootstrap/dist/js/bootstrap.min.js")
        script(src="bower/angular-loading-bar/build/loading-bar.min.js")
        script(src="bower/moment/min/moment-with-locales.min.js")
        script(src="node/angular-bootstrap-datetimepicker/src/js/datetimepicker.js")
        script(src="node/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js")
        script(src="bower/v-accordion/dist/v-accordion.js")
        script(src="bower/jsPDF/dist/jspdf.debug.js")
        script(src="bower/angular-save-html-to-pdf/dist/saveHtmlToPdf.js")
        script(src="bower/chart.js/dist/Chart.min.js")
        script(src="bower/angular-chart.js/dist/angular-chart.min.js")
        script(src="bower/progressbar.js/dist/progressbar.js")
        script(src="bower/angular-svg-round-progressbar/build/roundProgress.js")
        script(src="bower/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js")

        script(src="../js/filters/startFrom.filter.js")
        
        script(src="../js/appRoutes.js")
        script(src="../js/app.js")
        script(src="../controllers/app.controller.js")
        script(src="../controllers/patient.controller.js")
        script(src="../controllers/patient.archive.controller.js")
        script(src="../services/patient.service.js")
        script(src="../controllers/doctor.controller.js")
        script(src="../services/doctor.service.js")
        script(src="../controllers/drug.controller.js")
        script(src="../services/drug.service.js")
        script(src="../controllers/test.controller.js")
        script(src="../services/test.service.js")
        script(src="../controllers/ward.controller.js")
        script(src="../services/ward.service.js")