.timeline-wrapper
    .timeline-item(style="margin-top: 40px !important;")
        .animated-background
            .background-masker.header-top(style="left: 0px;")            
            .background-masker.header-right
            .background-masker.header-bottom(style="left: 0px;")            
            .background-masker.subheader-right
            .background-masker.subheader-bottom(style="left: 0px;")
            .background-masker.content-top
            .background-masker.content-first-end
            .background-masker.content-second-line
            .background-masker.content-second-end
            .background-masker.content-third-line
            .background-masker.content-third-end