.col-md-12.padding--bottom--10px
    button.btn.btn-success(ng-click="partialForm='addPatientForm'") 
        | Add Patient

include patient.add.jade

.col-md-12.padding--top--10px.padding--bottom--10px
    .col-md-12.no-padding--left(ng-if="rpatients.length <= 0")
        h4.montserrat No Patients Data Available                
    .table-responsive(ng-if="rpatients.length>0")
        table.table
            thead.thead-default
                tr
                    td #
                    td BHT
                    td Name
                    td
            tbody(ng-repeat="patient in rpatients")
                tr
                    td {{$index + 1}}
                    td {{patient.Inward.bhtNumber}}
                    td {{patient.Name.firstName}}
                    td.no_padding
                        a.btn.btn-link(href="#", ng-click="getPatient(patient.Inward.bhtNumber)")
                            i.fa.fa-plus
                tr(ng-show="patient.Inward.bhtNumber==dpatient.Inward.bhtNumber")
                    td(colspan="4") 
                        .col-md-12.padding--right--50px.text-align--right
                            a.btn.btn-link(href="#", ng-click="dpatient.Inward.bhtNumber='null'")
                                i.fa.fa-minus
                        h4.montserrat {{dpatient.Name.firstName}} {{dpatient.Name.lastName}}