.col-md-12.col-sm-12.col-xs-12.margin-bottom--10px
    span.top-selection
        button.btn.btn-default.btn-circle.btn-green(ng-click="partialForm='addPatientForm'", name="addPatientForm")
            i.fa.fa-plus
        span.top-selection--inner  Patient
    span.padding-right--20px
        button.btn.btn-default.btn-circle.btn-green(ng-click="", name="transferPatientForm")
            i.fa.fa-plus
        span.top-selection--inner Transfer Patient

include patient.add.jade

.col-md-12.col-sm-12.col-xs-12.padding--top--10px.padding-bottom--10px.padding-top--10px(ng-show="tableLoading")
  include ./../../shared/table-laoding.jade  
.col-md-12.col-sm-12.col-xs-12.padding--top--10px.padding-bottom--10px.padding-top--10px(ng-class="tableLoading ? 'table-loading' : 'table-loaded'")
    .col-md-12.col-sm-12.col-xs-12.no-padding-left(ng-if="rpatients.length <= 0")
        h4.montserrat No Patients Data Available                
    .table-responsive(ng-if="rpatients.length>0")
        table.table.table-striped.table-hover
            thead
                tr
                    th BHT
                    th Patient ID
                    th Patient Name
                    th Ward #
                    th Bed #
                    th Admitted Date
                    th
            tbody
                tr.pointer(ng-repeat-start="patient in rpatients", ng-init="patient.expanded = false", ng-click="patient.expanded = !patient.expanded")
                    td {{patient.Inward.bhtNumber}}
                    td {{patient.ID}}
                    td {{patient.Name.firstName}}
                    td Ward #
                    td {{patient.Inward.bedNumber}}
                    td {{patient.Inward.admittedDateTime | date:'yyyy-MM-dd HH:mm'}}
                    td 
                        small(ng-bind="patient.expanded ? 'Close' : 'View'")
                tr.no_hover(ng-if="patient.expanded" ng-repeat-end)
                    td.padding-top--20px(colspan="7")
                        include patient.info.jade