.col-md-12.col-sm-12.col-xs-12.dashboard-group
    span.dashboard-title Dashboard | Patients

.col-md-12.col-sm-12.col-xs-12.margin-bottom--10px
    span.col-md-2.col-sm-4.col-xs-12.top-selection
        button.btn.btn-default.btn-circle.btn-green(ng-click="partialForm='addPatientForm'", name="addPatientForm")
            i.fa.fa-plus
        span.top-selection--inner  Patient
    span.col-md-2.col-sm-4.col-xs-12.top-selection
        button.btn.btn-default.btn-circle.btn-green(ng-click="partialForm='addTransferForm'", name="addTransferForm")
            i.fa.fa-plus
        span.top-selection--inner Transfer Patient
    span.col-md-2.col-sm-4.col-xs-12.no_padding.margin-bottom--10px
        div.btn-group(style="width: 100%;")
            button.btn.btn-default.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;")
                | Pagination Size &nbsp;&nbsp;
                span.caret
            ul.dropdown-menu
                li(ng-repeat="size in paginationSize")
                    span.col-md-12.col-sm-12.col-xs-12.pointer(ng-click="pagination(size)") {{size}}
    span.col-md-3.col-sm-4.col-xs-12.no_padding.float-right.margin-bottom--10px
        .input-group.input-group-sm
            input.form-control.input-sm(type="text" placeholder="Search.." ng-model="searchPatient")
            span.input-group-btn
                span.btn.fa.fa-search

include patient.add.jade
include patient.transfer.jade

.col-md-12.col-sm-12.col-xs-12.padding--top--10px.padding-bottom--10px.padding-top--10px(ng-show="tableLoading")
  include ./../shared/table-laoding.jade  
.col-md-12.col-sm-12.col-xs-12.padding--top--10px.padding-bottom--10px.padding-top--10px(ng-class="tableLoading ? 'table-loading' : 'table-loaded'")
    .col-md-12.col-sm-12.col-xs-12.no-padding-left(ng-if="rpatients.length <= 0")
        h4.montserrat No Patients Data Available                
    .col-md-12.col-sm-12.col-xs-12.no_padding(ng-if="rpatients.length>0")
        .table-responsive
            table.table.table-striped.table-hover
                thead
                    tr
                        th.pointer(ng-click="sortType='bht'; sortReverse = !sortReverse") 
                            | BHT
                            span.fa.fa-caret-down(ng-show="sortType == 'bht' && !sortReverse")
                            span.fa.fa-caret-up(ng-show="sortType == 'bht' && sortReverse")
                        th.pointer(ng-click="sortType='id'; sortReverse = !sortReverse") 
                            | Patient ID
                            span.fa.fa-caret-down(ng-show="sortType == 'id' && !sortReverse")
                            span.fa.fa-caret-up(ng-show="sortType == 'id' && sortReverse")
                        th Patient Name
                        th Ward #
                        th Bed #
                        th.pointer(ng-click="sortType='admittedDate'; sortReverse = !sortReverse") 
                            | Admitted Date
                            span.fa.fa-caret-down(ng-show="sortType == 'admittedDate' && !sortReverse")
                            span.fa.fa-caret-up(ng-show="sortType == 'admittedDate' && sortReverse")
                        th
                tbody
                    tr.pointer(ng-repeat-start="patient in rpatients | orderBy:sortBy:sortReverse | filter:searchPatient | StartFromFilter:currentPage*pageSize | limitTo:pageSize ", ng-init="patient.expanded = false", ng-click="patient.expanded = !patient.expanded")
                        td {{patient.Inward.bhtNumber}}
                        td {{patient.ID}}
                        td {{patient.Name.firstName}}
                        td {{patient.Inward.wardNumber}}
                        td {{patient.Inward.bedNumber}}
                        td {{patient.Inward.admittedDateTime | date:'yyyy-MM-dd HH:mm'}}
                        td 
                            small(ng-bind="patient.expanded ? 'Close' : 'View'")
                    tr.no_hover(ng-if="patient.expanded" ng-repeat-end)
                        td.padding-top--20px(colspan="7")
                            include patient.info.jade
        .col-md-12.col-sm-12.col-xs-12.text-align--right
            nav(aria-label="Page navigation")
                ul.pagination.float-right
                    li(ng-show="currentPage != 0")
                        span.pointer(ng-click="currentPage = currentPage - 1", aria-label="Previous") 
                            i.material-icons(aria-hidden="true") chevron_left
                            | &nbsp;
                    li 
                        span {{currentPage + 1}} | {{numberOfPages()}}
                    li(ng-show="currentPage < rpatients.length/pageSize - 1")
                        span.pointer(ng-click="currentPage = currentPage + 1", aria-label="Next") 
                            | &nbsp;
                            i.material-icons(aria-hidden="true") chevron_right