span.col-md-12.text-align--right.padding--top--10px
    button.btn.btn-default.btn-circle(ng-click="dpatient.Inward.bhtNumber='null'")
        i.fa.fa-times
.col-md-12
    h3.montserrat
        | {{dpatient.Name.firstName}} {{dpatient.Name.lastName}}
    small.padding--bottom--10px
        b BHT : 
        | {{dpatient.Inward.bhtNumber}} 
        b Bed# : 
        | {{dpatient.Inward.bedNumber}}
    br
    span.montserrat.col-md-4 First Name : {{dpatient.Name.firstName}}
    span.montserrat.col-md-4 Last Name : {{dpatient.Name.lastName}}