.col-md-12.padding--top--10px
    span
        button.btn.btn-default.btn-circle.btn-green(ng-click="partialForm='addDoctorsForm'")
            i.fa.fa-plus
        span.montserrat  Doctor
        span
span
.col-md-8.padding--top--20px
     div.table-responsive
        table.table.table-hover.table-striped
            thead.thead-default
                tr
                    td #
                    td Name
                    td Professional
                    td Special Type
            tbody
                tr(ng-repeat="doctor in rdoctors" ng-click="partialForm='addShedule'")
                    td {{$index + 1}}
                    td Dr. {{doctor.Name.Title}} {{doctor.Name.Firstname}}
                    td {{doctor.HealthCare.Type}}
                    td {{doctor.HealthCare.SpecialType}}
.col-md-4
    div.table-responsive-shedule
        table.table.table-hover
            thead.thead-default
                tr
                    td.shedule Today Shedule
                tbody

include doctor.add.jade




        


