.col-md-12.col-sm-12.col-xs-12(name="scheduleDetails")
    form.col-md-12.col-sm-12.col-xs-12.border-top--2px(role="form", ng-show="partialForm=='scheduleDetails'", name="scheduleDetails")
        span.col-md-12.col-sm-12.col-xs-12.text-align--right.padding-top--10px.form-group(ng-click="partialForm='null';clearAll();", name="closePatientForm")
            h2 Summa